*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 40vw;
    height: 400px;
    /* background-color: darkcyan; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.container h1 {
    font-size:2vw;
}

.div-show {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    display:flex;
    align-items: center;    
}

.password-section {
    width: 85%;
    font-size: 1.9vw;
    display:flex;
    align-items: center;   
}

.icons {
    display:flex;
    align-items: center;  
    justify-content: flex-end;
    
}

.icons img {
    width: 20px;
    margin-left:15px;
}

.div-config {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding:20px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}

.text-personalize {
    font-size: 1.2vw;
    margin: 0;
} 

.specific-config {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.select-lenght {
    display:flex;
    flex-direction: column;
}

.select-config{
    width: 33%;
    font-size: 0.9vw;
}

.select-config h6 {
    font-size: 1vw;
    margin: 10px 0px;
    font-weight: 100;
}

/* Responsive  */

@media (max-width: 991.98px) and (min-width: 575.98px) {

    .container {
        max-width: 300px;
    }
    .specific-config {
        display:flex;
        flex-direction: column;
        width:80%
    }
    .select-config{
        width: 80%;
        font-size: 1.2vw;
    }
    .text-personalize {
        font-size: 1.2vw;
    } 
    .select-config h6 {
        font-size: 1.9vw;
    
    }
} 

@media (max-width: 575.98px) {

    .container {
        width: 80%;
    }
  
    .specific-config {
        display:flex;
        flex-direction: column;
        width:80%
    }

    .select-config{
        width: 100%;
        font-size: 2vw;
    }

    .text-personalize {
        font-size: 2vw;
    } 

    .select-config h6 {
        font-size: 3vw;
    }

    .password-section {
      
        font-size: 4vw;     
    }

} 